@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('../fonts/trebuc.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    transition: all 300ms;
}

a {
    text-decoration: none;
    line-height: 1.2em;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.2;
}

.container{
    width: 1320px;
    padding: 0 15px;
    margin: 0 auto;;
}